@import '_media.scss';

// ---------- Header Section ----------
article{
  h1{ min-width: 256px;
    +p{ margin: 27px 0 40px; }
  }
}

main > section {
  @extend %display-flex;
  @extend %align-items-center;
  @extend %col;
  width: fit-content; 
  gap: 18px;
  margin-top: px-to-rem(60);

  @include respond-to(large){
    align-items: flex-start;
    flex-direction: row;
  }
}

// ---------- Ratings Section ----------
main > div{
  @include respond-to(large){
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 225px;
  }

  section:nth-child(1){
    @include respond-to(large){
      width: 368px;
      height: 255px;
    }
  }
}

section.rating {
  @extend %display-flex;
  @extend %col;
  @extend %align-items-center;
  gap: 14px;

  @include respond-to(large){
    width: 530px;
    height: 208px;
  }
}

div.rating-card{
  @extend %display-flex;
  @extend %col;
  @extend %align-items-center;
  @extend %color-light-gray-magenta;
  background: $light-gray-magenta;
  width: 100%;
  border-radius: 10px;
  padding: 16px 0;

  @include respond-to(large){
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 430px;
    height: 60px;
    padding: 0px 15px;
  }

  &:nth-child(1){
    @include respond-to(large){ margin-right: 100px;}}
  &:nth-child(2){
    @include respond-to(large){ margin: 0 50px;}}
  &:nth-child(3){
    @include respond-to(large){ margin-left: 100px;}
  }

  p{ margin-top: px-to-rem(15);
    @include respond-to(large){ margin-top: 0;}
  }
}

div.ctn-stars{
  @extend %display-flex;
  @extend %align-items-center;
  gap: px-to-rem(5);

  @include respond-to(large){
    gap: px-to-rem(10);
  }
}

// ---------- Testimonial Section ----------
article.testimony-card {
  width: 100%;
  border-radius: 10px;
  background: $very-dark-magenta;
  padding: px-to-rem(42) px-to-rem(42) px-to-rem(53) px-to-rem(32);

  @include respond-to(large){
    padding: px-to-rem(40) px-to-rem(30);
    max-height: 248px;
  }

  > div{
    @extend %display-flex;
    @extend %align-items-center;
    height: fit-content;
    width: fit-content;
    gap: px-to-rem(16);
    margin-bottom: 23px;

    img{
      border-radius: 50%;
      width: 40px;
    }
  }

  &:nth-child(2){ 
    @include respond-to(large){margin: 30px 0 0;}}

  &:nth-child(3){
    @include respond-to(large){margin-top: 45px;}}
}

div.profile{
  @extend %display-flex;
  @extend %col;
  @extend %align-items-start;
  font-size: px-to-rem(16);
  gap: 6px;
}