@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import '_media.scss';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif; // - Weights: 400, 500, 700
  min-height: 100vh;
  @extend %display-flex;
  @extend %align-items-center;
  @extend %col;
  overflow-x: hidden;
}

main{
  @extend %text-center;
  padding: px-to-rem(95) px-to-rem(24) 0;
  min-width: 320px;
  max-width: 1200px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 0% top 0%, right 0% bottom 0%;
  background-image: url('/assets/bg-pattern-top-mobile.svg'), url('/assets/bg-pattern-bottom-mobile.svg');

  @include respond-to(large){ 
    background-image: url('/assets/bg-pattern-top-desktop.svg'), url('/assets/bg-pattern-bottom-desktop.svg');
  }
}

blockquote{
  @extend %color-white;
  @extend %fw-400;
  text-align: justify;
  font-size: px-to-rem(17);
  line-height: 135%;
  letter-spacing: -0.27px;
  opacity: 0.9;

  @include respond-to(large){ text-align: left; }
}

footer{
  margin: 40px 0;
  @extend %opacity-6;
}