@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import '_media.scss';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif; // - Weights: 400, 500, 700
  min-height: 100vh;
  @extend %display-flex;
  @extend %align-items-center;
  @extend %col;
  overflow-x: hidden;
}

main{
  padding: px-to-rem(71) px-to-rem(24) px-to-rem(95);
  min-width: 320px;
  @extend %text-center;
}

blockquote{
  color: #FFF;
  text-align: justify;
  font-size: px-to-rem(17);
  font-weight: 400;
  line-height: 135%; /* 22.95px */
  letter-spacing: -0.27px;
  opacity: 0.75;

    @include respond-to(large){
      text-align: left;
    }
}

footer{
  margin-bottom: 20px;
}