@import '_variables.scss';

@function px-to-rem($rem) {
  $remValue: calc($rem / 15); // base font size: 15px
  @return #{$remValue}rem; 
}

// <-----> Typography Placeholder <----->
%text-center{ text-align: center;}

%fw-400{ font-weight: 400;}
%fw-500{ font-weight: 500;}
%fw-700{ font-weight: 700;}

// <-----> Font-color Placeholder <----->
//Primary Colors
%color-very-dark-magenta{ color: $very-dark-magenta; }
%color-soft-pink{ color: $soft-pink; }
//Neutral Colors
%color-dark-gray-magenta{ color: $dark-gray-magenta; }
%color-light-gray-magenta{ color: $light-gray-magenta; }
%color-white{ color: $white; }

// <-----> Flex Placeholder <----->
%display-flex{ display: flex; }
%col{ flex-direction: column; }
%row{ flex-direction: row; }

%justify-center{ justify-content: center; }

%align-items-start{ align-items: flex-start; }
%align-items-end{ align-items: end; }
%align-items-center{ align-items: center; }