@import '_variables.scss';

@function px-to-rem($rem) {
  $remValue: calc($rem / 15); // base font size: 15px
  @return #{$remValue}rem; 
}

%color-very-dark-magenta{
  color: $very-dark-magenta;
}

%color-soft-pink{
  color: $soft-pink;
}

%color-dark-gray-magenta{
  color: $dark-gray-magenta;
}

%color-light-gray-magenta{
  color: $light-gray-magenta;
}

%color-white{
  color: $white;
}

%display-flex{
  display: flex;
}

%col{
  flex-direction: column;
}

%row{
  flex-direction: row;
}

%justify-center{
  justify-content: center;
}

%align-items-start{
  align-items: flex-start;
}

%align-items-end{
  align-items: end;
}

%align-items-center{
  align-items: center;
}

%color-primary{
  color: $very-dark-magenta;
}

%text-center{
  text-align: center;
}

%fw-400{
  font-weight: 400;
}

%fw-500{
  font-weight: 500;
}

%fw-700{
  font-weight: 700;
}