@import '_variables.scss';

article{
  h1{
    font-size: px-to-rem(40);
    @extend %text-center;
    @extend %color-very-dark-magenta;

    @include respond-to(large){
      text-align: left;
      font-size: px-to-rem(54);
      max-width: 368px;
    }
  
    +p{
      @extend %color-dark-gray-magenta;
      @extend %fw-500;
      font-size: px-to-rem(18);
      line-height: 120%;
      word-spacing: px-to-rem(1);
      letter-spacing: px-to-rem(0.2);

      @include respond-to(large){
        text-align: justify;
        font-size: px-to-rem(18.75);
        max-width: 368px;
        letter-spacing: px-to-rem(-1);
      }
    }
  }
}


div.rating-card{
  p{
    @extend %fw-700;
    @extend %color-very-dark-magenta;
    font-size: px-to-rem(18);
  }
}

article.testimony-card {
  @extend %color-light-gray-magenta;
}

div.profile{
  font-size: px-to-rem(16);
  @extend %fw-700;

  span{
    @extend %color-soft-pink;
    @extend %fw-500;
    font-size: px-to-rem(15);
  }
}

footer{
  @extend %text-center;

  a{
    line-height: 1.25rem;
    @extend %opacity-6;
    
    &:hover{
      @extend %color-soft-pink;
      text-decoration: none;
      opacity: 1;
    }
  }
}