@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
footer a, footer {
  opacity: 0.6;
}

footer, article h1, main {
  text-align: center;
}

blockquote {
  font-weight: 400;
}

div.profile span, article h1 + p {
  font-weight: 500;
}

div.profile, div.rating-card p {
  font-weight: 700;
}

div.rating-card p, article h1 {
  color: hsl(300, 43%, 22%);
}

footer a:hover, div.profile span {
  color: hsl(333, 80%, 67%);
}

article h1 + p {
  color: hsl(303, 10%, 53%);
}

article.testimony-card, div.rating-card {
  color: hsl(300, 24%, 96%);
}

blockquote {
  color: hsl(0, 0%, 100%);
}

div.profile, article.testimony-card > div, div.ctn-stars, div.rating-card, section.rating, main > section, body {
  display: flex;
}

div.profile, div.rating-card, section.rating, main > section, body {
  flex-direction: column;
}

div.profile {
  align-items: flex-start;
}

article.testimony-card > div, div.ctn-stars, div.rating-card, section.rating, main > section, body {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 6.3333333333rem 1.6rem 0;
  min-width: 320px;
  max-width: 1200px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 0% top 0%, right 0% bottom 0%;
  background-image: url("/assets/bg-pattern-top-mobile.svg"), url("/assets/bg-pattern-bottom-mobile.svg");
}
@media only screen and (min-width: 1200px) {
  main {
    background-image: url("/assets/bg-pattern-top-desktop.svg"), url("/assets/bg-pattern-bottom-desktop.svg");
  }
}

blockquote {
  text-align: justify;
  font-size: 1.1333333333rem;
  line-height: 135%;
  letter-spacing: -0.27px;
  opacity: 0.9;
}
@media only screen and (min-width: 1200px) {
  blockquote {
    text-align: left;
  }
}

footer {
  margin: 40px 0;
}

article h1 {
  min-width: 256px;
}
article h1 + p {
  margin: 27px 0 40px;
}

main > section {
  width: fit-content;
  gap: 18px;
  margin-top: 4rem;
}
@media only screen and (min-width: 1200px) {
  main > section {
    align-items: flex-start;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  main > div {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 225px;
  }
}
@media only screen and (min-width: 1200px) {
  main > div section:nth-child(1) {
    width: 368px;
    height: 255px;
  }
}

section.rating {
  gap: 14px;
}
@media only screen and (min-width: 1200px) {
  section.rating {
    width: 530px;
    height: 208px;
  }
}

div.rating-card {
  background: hsl(300, 24%, 96%);
  width: 100%;
  border-radius: 10px;
  padding: 16px 0;
}
@media only screen and (min-width: 1200px) {
  div.rating-card {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 430px;
    height: 60px;
    padding: 0px 15px;
  }
}
@media only screen and (min-width: 1200px) {
  div.rating-card:nth-child(1) {
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  div.rating-card:nth-child(2) {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1200px) {
  div.rating-card:nth-child(3) {
    margin-left: 100px;
  }
}
div.rating-card p {
  margin-top: 1rem;
}
@media only screen and (min-width: 1200px) {
  div.rating-card p {
    margin-top: 0;
  }
}

div.ctn-stars {
  gap: 0.3333333333rem;
}
@media only screen and (min-width: 1200px) {
  div.ctn-stars {
    gap: 0.6666666667rem;
  }
}

article.testimony-card {
  width: 100%;
  border-radius: 10px;
  background: hsl(300, 43%, 22%);
  padding: 2.8rem 2.8rem 3.5333333333rem 2.1333333333rem;
}
@media only screen and (min-width: 1200px) {
  article.testimony-card {
    padding: 2.6666666667rem 2rem;
    max-height: 248px;
  }
}
article.testimony-card > div {
  height: fit-content;
  width: fit-content;
  gap: 1.0666666667rem;
  margin-bottom: 23px;
}
article.testimony-card > div img {
  border-radius: 50%;
  width: 40px;
}
@media only screen and (min-width: 1200px) {
  article.testimony-card:nth-child(2) {
    margin: 30px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  article.testimony-card:nth-child(3) {
    margin-top: 45px;
  }
}

div.profile {
  font-size: 1.0666666667rem;
  gap: 6px;
}

article h1 {
  font-size: 2.6666666667rem;
}
@media only screen and (min-width: 1200px) {
  article h1 {
    text-align: left;
    font-size: 3.6rem;
    max-width: 368px;
  }
}
article h1 + p {
  font-size: 1.2rem;
  line-height: 120%;
  word-spacing: 0.0666666667rem;
  letter-spacing: 0.0133333333rem;
}
@media only screen and (min-width: 1200px) {
  article h1 + p {
    text-align: justify;
    font-size: 1.25rem;
    max-width: 368px;
    letter-spacing: -0.0666666667rem;
  }
}

div.rating-card p {
  font-size: 1.2rem;
}

div.profile {
  font-size: 1.0666666667rem;
}
div.profile span {
  font-size: 1rem;
}

footer a {
  line-height: 1.25rem;
}
footer a:hover {
  text-decoration: none;
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */